{% load crispy_forms_tags %}
{{ record_form.media }}
<div class="row" style="margin-bottom:15px;">
	<div class="col-12">
		<div class="wrapper-progressBar">
    	  	<ul class="progressBar" style="padding-left:0px;">
				<li class="active">Title and Abstract</li>
			  	<li>Authors and Categories</li>
			  	<li>Conference</li>
			  	<li>Publication</li>
			  	<li>Budget</li>
			  	<li>Collaboration</li>
				<li>Uploads</li>
    	  	</ul>
    	</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<h3>TITLE AND ABSTRACT</h3>
	</div>
</div>
<div class="row">
	<div class="col-12">
		{{ record_form.title|as_crispy_field }}
	</div>
</div>
<div class="row">
	<div class="col">
		{{ record_form.year_accomplished|as_crispy_field }}
	</div>
	<div class="col">
		{{ record_form.year_completed|as_crispy_field }}
	</div>
</div>
<div class="row">
	<div class="col-12">
		{{ record_form.abstract|as_crispy_field }}
	</div>
</div>
<div class="row">
	<div class="col-12">
		{{ record_form.abstract_file|as_crispy_field }}
	</div>
</div>
<!--<div class="row">
	<div class="col-12">
		<input type="file" name="abstract">
		<input type="hidden" name="upload-abstract" value="true">
	</div>
</div>-->
<div class="row">
	<div class="col-12 d-flex justify-content-end">
		<button class="btn btn-next base-btn base-bg-primary" type="button">Next</button>
	</div>
</div>