{% extends 'ipams/base.html' %}
{% load crispy_forms_tags %}

{% block footer %}
<script>
	logsTbl = $('#tbl-logs').DataTable({
		"ajax":	{
			headers: { "X-CSRFToken": '{{ csrf_token }}' },
			dataType:"json",
			type: "post",
		},
        // When deferred rendering is enabled, rather than having DataTables create all TR and TD nodes required for the table when the data is loaded, DataTables will only create the nodes required for each individual row at the time of that row being drawn on the page (these nodes are then retained in case they are needed again so they aren't created multiple times). This can give a significant performance increase, since a lot less work is done at initialisation time.
        "deferRender": true,
		"scrollX": true,
		"responsive": true,
		"order": [[ 0, "desc" ]],
	});


</script>
{% endblock %}

{% block content %}

<div class="container-fluid" style="background-color:#dbdbdb;">
    <section>
        <div class="row">
            <div class="col-sm-6">
                <h2 style="margin-top:20px; margin-bottom:20px;">Dashboard</h2>
            </div>
            <div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="{% url 'records-dashboard' %}" class="btn btn-warning"><i class="fa fa-arrow-left"></i></a>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12 col-lg-12" style="background-color:white; padding:20px 10px 20px 10px;">
                <table id="tbl-logs" class="table table-striped table-bordered table-condensed" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Action</th>
                            <th>User</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
{% endblock %}
