{% extends 'ipams/base.html' %}
{% load crispy_forms_tags %}

{% block footer %}
<script>

    $("#btn-filter-save").on("click", function(){
        initRecordsTbl(true);
    });
    $("#btn-clear-filter").on("click", function(){
        initRecordsTbl(false);
    });
    var recordsTbl = null;
    function initRecordsTbl(isFiltered=false){
        filters = {}
        if(recordsTbl != null)
			recordsTbl.clear().destroy();
        if(isFiltered){
			filters = {
			    "is-filter": "1",
			    "is-ip": $("#is-ip").val(),
			    "for-commercialization": $("#for-commercialization").val(),
			    "community-ext": $("#community-ext").val(),
			    "no-tags": $("#no-tags").val(),
			    "record-publish-status": $("input[name=record-publish-status]:checked").val(),
			}
        }
	    recordsTbl = $('#tbl-records').DataTable({
	    	"ajax":	{
	    		headers: { "X-CSRFToken": '{{ csrf_token }}' },
	    		dataType:"json",
	    		data: filters,
	    		type: "post",
	    	},
            // When deferred rendering is enabled, rather than having DataTables create all TR and TD nodes required for the table when the data is loaded, DataTables will only create the nodes required for each individual row at the time of that row being drawn on the page (these nodes are then retained in case they are needed again so they aren't created multiple times). This can give a significant performance increase, since a lot less work is done at initialisation time.
            "deferRender": true,
	    	"scrollX": true,
	    	"autoWidth": false,
	    	"responsive": false,
	    	"order": [[ 1, "desc" ]],
			"select": {
				style: 'multi',
				selector: 'td:first-child'
			},
				"columnDefs": [
					{
						"targets": [0],
						"orderable": false,
						"width": 20,
						"className": 'select-checkbox',
						"targets": 0,
						"visible": true
					},
				],
	    });

	}
	initRecordsTbl(false);

//--------------------------removing selected record rows--------------------------------------
	$("#btn-remove").on("click", function(){
		var titles = [];
		var rows = recordsTbl.rows({"selected":true});
           $.each(rows.data(), function () {
		    var row = this;
		    titles.push(row[1]);
		} );
           if(titles.length>0){
			Swal.fire({
			  title: 'Are you sure you want to delete the selected items?',
			  text: "You won't be able to revert this!",
			  type: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: 'Yes'
			}).then((result) => {
			  if (result.value) {
           		$.ajax({
           			headers: { "X-CSRFToken": '{{ csrf_token }}' },
           			type: "post",
					data: { "titles": titles, "remove": true },
					success: function(data){
						recordsTbl.ajax.reload();
						Swal.fire(
			    		  'Deleted!',
			    		  'The selected items have been deleted',
			    		  'success'
			    		);
					},
					error: function(data){
						alert("error");
					}
           		});
			  }
			})
		}
		else{
			Swal.fire({
			  type: 'warning',
			  title: 'No rows selected!',
			  html: 'You must first select a record',
			  showConfirmButton: true,
			})
		}
	});

//---------------------------select/deselect all checkbox---------------------------
	$("#records-select-all").on( "click", function(e) {
		recordsTbl.rows({ page: 'current' }).select();
	});
	$("#records-deselect-all").on( "click", function(e) {
		recordsTbl.rows({ page: 'current' }).deselect();
	});
	$("#accounts-select-all").on( "click", function(e) {
		accountsTbl.rows({ page: 'current' }).select();
	});
	$("#accounts-deselect-all").on( "click", function(e) {
		accountsTbl.rows({ page: 'current' }).deselect();
	});

    $("#is-ip").on("click", function(){
        if($(this).is(":checked"))
            $(this).val("1");
        else
            $(this).val("0");
    });

    $("#for-commercialization").on("click", function(){
        if($(this).is(":checked"))
            $(this).val("1");
        else
            $(this).val("0");
    });

    $("#community-ext").on("click", function(){
        if($(this).is(":checked"))
            $(this).val("1");
        else
            $(this).val("0");
    });

    $("#no-tags").on("click", function(){
        if($(this).is(":checked")){
            $(this).val("1");
            $("#is-ip").attr("disabled", "true").prop("checked", false).val("0");
            $("#for-commercialization").attr("disabled", "true").prop("checked", false).val("0");
            $("#community-ext").attr("disabled", "true").prop("checked", false).val("0");
        }
        else{
            $(this).val("0");
            $("#is-ip").removeAttr("disabled");
            $("#for-commercialization").removeAttr("disabled");
            $("#community-ext").removeAttr("disabled");
        }
    });


    elem = $("#tbl-records")[0];
    let resizeObserver = new ResizeObserver(() => {
	    $($.fn.dataTable.tables(true)).DataTable()
	       .columns.adjust();
    });
    resizeObserver.observe(elem);

    function editCode(recordId, recordCode){
        $("#record-id").val(recordId);
        $("#record-code").val(recordCode);
        $("#edit-code-modal").modal("show");
    }

    $("#btn-edit-code-save").on("click", function(){
           $.ajax({
           	    headers: { "X-CSRFToken": '{{ csrf_token }}' },
           	    type: "post",
			    data: $("#form-edit-code").serialize(),
			    success: function(data){
			    	recordsTbl.ajax.reload();
			    	Swal.fire(
			      		  'Success!',
			      		  'Record code has been saved!',
			      		  'success'
			      		);
			    },
			    error: function(data){
			    	alert("error");
			    }
           });
    });

</script>
{% endblock %}

{% block content %}

<div class="container-fluid" style="background-color:#dbdbdb;">
    <section>
        <div class="row">
            <div class="col-sm-6">
                <h2 style="margin-top:20px; margin-bottom:20px;">Dashboard</h2>
            </div>
            <div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="{% url 'records-dashboard' %}" class="btn btn-warning"><i class="fa fa-arrow-left"></i></a>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12 col-lg-12" style="background-color:white; padding:20px 10px 20px 10px;">
                <div class="row">
                    <div class="col-12">
                        <button type="button" id="btn-remove" class="btn btn-danger" style="margin-bottom:10px"><i class="fa fa-trash fa-md"></i> REMOVE</button>
                        &nbsp;<button type="button" class="btn btn-success" data-toggle="modal" data-target="#filter-modal" style="margin-bottom:10px"><i class="fa fa-filter fa-md"></i> FILTER</button>
                        &nbsp;<button type="button" id="btn-clear-filter" class="btn btn-secondary" style="margin-bottom:10px"><i class="fa fa-trash fa-md"></i> CLEAR FILTER</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex align-items-center">
                        <a id="records-select-all" href="#" style="margin-right:10px">SELECT ALL</a>
                        <a id="records-deselect-all" href="#" style="border-left: 1px solid #ccc; padding-left:10px">NONE</a>
                    </div>
                </div>
                <table id="tbl-records" class="table table-striped table-bordered table-condensed" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Code</th>
                            <th>Record</th>
                            <th>Record Type</th>
                            <th>Date Created</th>
                            <th>Tags</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>


<!-- --------------------------------Modal--------------------------------------------- -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="form-filter">
                {% csrf_token %}
                <div class="modal-header base-bg-primary">
                    <h5 class="modal-title">Filter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <label class="radio-inline" style="margin-right:15px"><input type="radio" name="record-publish-status" value="0" checked> All </label>
                            <label class="radio-inline" style="margin-right:15px"><input type="radio" name="record-publish-status" value="1"> Published </label>
                            <label class="radio-inline" style="margin-right:15px"><input type="radio" name="record-publish-status" value="2"> Not Published </label>
                        </div>
                        <div class="row">
                            <div class="checkbox">
                              <label><input name="is-ip" id="is-ip" type="checkbox" value="0" {% if is_ip %} checked {% endif %}> IP</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox">
                                <label><input name="for-commercialization" id="for-commercialization" type="checkbox" value="0" {% if commercialization %} checked {% endif %}> For commercialization</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox">
                                <label><input name="community-ext" id="community-ext" type="checkbox" value="0" {% if community_ext %} checked {% endif %}> Community extension</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="checkbox">
                                <label><input name="no-tags" id="no-tags" type="checkbox" value="0" {% if no_tags %} checked {% endif %}> No tags</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="is_filter" value="1"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-filter-save" class="btn btn-primary" data-dismiss="modal">Apply</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="edit-code-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="form-edit-code">
                {% csrf_token %}
                <div class="modal-header base-bg-primary">
                    <h5 class="modal-title">Edit Code</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <label>Code</label>
                        <input class="form-control" id="record-code" name="record-code">
                        <input type="hidden" id="record-id" name="record-id">
                        <input type="hidden" id="edit-record-code" name="edit-record-code" value="true">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="is_filter" value="1"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-edit-code-save" class="btn btn-primary" data-dismiss="modal">Apply</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
