{% extends 'ipams/base.html' %}
{% load crispy_forms_tags %}

{% block footer %}
<script>
//---------------------------------Graphs---------------------------------------------
		function initGraphs(){
			var appliedVsBasic;
			var noOfClassifications;
			var recordsPerYear;
			var classificationPerYear;
			$.ajax({
			    "headers": { "X-CSRFToken": '{{ csrf_token }}' },
			    "type": "post",
			    "data": {"graphs": true},
			    "success": function(response){
			//-------------------------applied vs. basic------------------------------------
			    	data = [response.basic, response.applied];
			    	appliedVsBasic = new Chart(document.getElementById('appliedVsBasic').getContext('2d'),
					{
					    type: 'doughnut',
					    data: {
					        labels: ['Applied', 'Basic'],
					        datasets: [{
					            data: data,
					            backgroundColor: [
					                'rgba(128, 0, 0)',
					                '#ffd700',
					            ],
					            borderColor: [
					            	'#ffffff',
					                '#ffffff',
					            ],
					            borderWidth: 5,
					            spacing: 5,
					        }]
					    },
					    options: {
					    	responsive: true,
					    	title: {
					    	  display: true,
					    	  text: 'Record Classification'
					    	},

					        legend: {
					        	display: true
					        },


					        plugins: {
						        datalabels: {
						            formatter: (value, ctx) => {
						                let sum = 0;
						                let dataArr = ctx.chart.data.datasets[0].data;
						                dataArr.map(data => {
						                    sum += data;
						                });
						                let percentage = (value*100 / sum).toFixed(2)+"%";
						                return percentage;
						            },
						            color: '#fff',
						        }
						    },
					    }
					});
			//------------------------------------No. of Classification-------------------------------------
					var psced_names = [];
					var psced_count = [];
					psced = response.psced_count;
					for( var i=0; i<response.psced_count.length; i++ ){
						psced_names[i] = psced[i]['name'];
						psced_count[i] = psced[i]['count'];
					}
					noOfClassifications = new Chart(document.getElementById('noOfClassifications').getContext('2d'), {
					    type: 'horizontalBar',
					    data: {
					      labels: psced_names,
					      datasets: [{
					        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850",
					        	"#a88132","#92a832","#34a832","#32a88c","#327da8",
					        	"#3a32a8","#7b32a8","#a8327f","#e3e08f","#8fe3bd",
					        	"#fc8c03","#8cfffb","#b48cff","#8584a1","#1f4d3e"],
					        data: psced_count
					      }]
					    },
					    options: {
					      responsive: true,
					      title: {
					        display: true,
					        text: 'Number of Classifications'
					      },
					      legend: {
			    		    display: false
			    		  },
			    		  maintainAspectRatio: false,
					    }
					});

			//------------------------------------Records Per Year-------------------------------------
					var recordsYear = [];
					var recordsCount = [];
					for(var i=0; i<response.records_per_year_count.length; i++){
						recordsYear[i] = response.records_per_year_count[i]['year'];
						recordsCount[i] = response.records_per_year_count[i]['count'];
					}
					recordsPerYear = new Chart(document.getElementById("recordsPerYear"), {
					  type: 'line',
					  data: {
					    labels: recordsYear,
					    datasets: [{
					        data: recordsCount,
					        label: "Records",
					        borderColor: "#3e95cd",
					        fill: false
					      }
					    ]
					  },
					  options: {
					  	responsive: true,
					    title: {
					      display: true,
					      text: 'Records per Year'
					    },
					    legend: {
					      display: false
					    },
					    maintainAspectRatio: false,
					  }
					})
			//--------------------------------Classification per year--------------------------------------
					pscedYear = [];
					pscedCount = [];
					for(var i=0; i<response.psced_per_year_count.length;i++){
						pscedYear[i] = response.psced_per_year_count[i]['year'];
						pscedCount[i] = response.psced_per_year_count[i]['psced_count'];
					}
					classificationPerYear = new Chart(document.getElementById("classificationPerYear"), {
					    type: 'bar',
					    data: {
					      labels: pscedYear,
					      datasets: [
					        {
					          backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
					          data: pscedCount
					        }
					      ]
					    },
					    options: {
					      responsive: true,
					      scales: { 
					      	yAxes: [{
					      		ticks: {
					      			beginAtZero: true, 
		                     		stepSize: 1, //y-axis interval 
		                     		max: 10, //set max value of y-axis
		                        }
					      	}],
					      },
					      legend: { display: false },
					      title: {
					        display: true,
					        text: 'Number of Classifications Per Year'
					      }
					    }
					});
					$("#doc0").html("<th>Patent</th>");
					$("#doc1").html("<th>Utility Model</th>");
					$("#doc2").html("<th>Industrial Design</th>");
					$("#doc3").html("<th>Trademark</th>");
					$("#doc4").html("<th>Copyright</th>");
					for(var i=0; i<response.for_application.length; i++)
					    $("#doc"+i).append("<td>"+response.for_application[i]+"</td>");
					for(var i=0; i<response.reviewed.length; i++)
					    $("#doc"+i).append("<td>"+response.reviewed[i]+"</td>");
					for(var i=0; i<response.filed.length; i++)
					    $("#doc"+i).append("<td>"+response.filed[i]+"</td>");
					for(var i=0; i<response.approved.length; i++)
					    $("#doc"+i).append("<td>"+response.approved[i]+"</td>");
					for(var i=0; i<response.disapproved.length; i++)
					    $("#doc"+i).append("<td>"+response.disapproved[i]+"</td>");
					$("#adviser-pending-count").html(response.adviser_pending_count);
					$("#ktto-pending-count").html(response.ktto_pending_count);
					$("#rdco-pending-count").html(response.rdco_pending_count);
			    },
			    "error": function(data){
			    	alert("error");
			    }
			});

		}
		initGraphs();
		//-------------------------refresh graph----------------------------------------
		$("#btn-graph-refresh").on("click", function(){
			initGraphs();
		});
</script>
{% endblock %}

{% block content %}
<div class="container-fluid" style="background-color:#dbdbdb;">
    <section>
        <div class="row">
            <div class="col-sm-6">
                <h2 style="margin-top:20px; margin-bottom:20px;">Dashboard</h2>
                <a href="{% url 'dashboard-manage-records' %}">Manage Records</a> |
                <a href="{% url 'dashboard-manage-documents' %}">Manage Documents</a> |
                <a href="{% url 'dashboard-manage-accounts' %}">Manage Accounts</a> |
                <a href="{% url 'dashboard-logs' %}">Logs</a> | 
               	<a href="{% url 'reset-accounts' %}">Reset Accounts</a>
            </div>
            <div class="col-sm-6 d-flex justify-content-end">
                <div style="margin-top:20px; margin-bottom:20px;">
                    <a id="btn-graph-refresh" class="btn btn-secondary base-btn base-bg-primary"><i class="fa fa-sync fa-md"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="row">
                    <div class="col-sm-12 col-lg-6 container active animate__animated animate__fadeIn animate__faster" id="home" style=" padding:5px 5px 5px 5px;">
                        <canvas id="appliedVsBasic" style="background-color:white;"></canvas>
                    </div>
                    <div class="col-sm-12 col-lg-6 container animate__animated animate__fadeIn animate__faster" id="menu1" style=" padding:5px 5px 5px 5px;">
                        <canvas id="recordsPerYear" style="background-color:white;"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6 container animate__animated animate__fadeIn animate__faster" id="menu2" style=" padding:5px 5px 5px 5px;">
                        <canvas id="classificationPerYear" style="background-color:white;"></canvas>
                    </div>
                    <div class="col-sm-12 col-lg-6 container animate__animated animate__fadeIn animate__faster" style="padding:5px 5px 5px 5px;">
                        <div style="background-color:white;">
                            <table class="table table-striped">
                                <thead style="font-size:12px;">
                                    <tr>
                                        <th></th>
                                        <th>For Application</th>
                                        <th>Reviewed</th>
                                        <th>Filed</th>
                                        <th>Approved</th>
                                        <th>Disapproved</th>
                                    </tr>
                                </thead>
                                <tbody style="font-size:12px;">
                                    <tr id="doc0">
                                    </tr>
                                    <tr id="doc1">
                                    </tr>
                                    <tr id="doc2">
                                    </tr>
                                    <tr id="doc3">
                                    </tr>
                                    <tr id="doc4">
                                    </tr>
                                </tbody>
                            </table>
                            <div style="border-bottom: 2px solid black; padding:5px 5px 0px 5px">Pending</div>
                            <div class="row" style="padding: 0px 5px 0px 5px;">
                                <div class="col">
                                    Adviser
                                </div>
                                <div class="col">
                                    KTTO
                                </div>
                                <div class="col">
                                    RDCO
                                </div>
                            </div>
                            <div class="row" style="padding: 0px 5px 0px 5px;">
                                <div class="col" id="adviser-pending-count">0</div>
                                <div class="col" id="ktto-pending-count">0</div>
                                <div class="col" id="rdco-pending-count">0</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-12 container animate__animated animate__fadeIn animate__faster" id="menu3" style=" padding:5px 5px 5px 5px;">
                <canvas id="noOfClassifications" style="background-color:white;height:450px;"></canvas>
            </div>
        </div>
    </section>
</div>
{% endblock %}
