{% extends 'ipams/base.html' %}
{% load crispy_forms_tags %}

{% block head %}
<style>
	.wrapper-progressBar {
    width: 100%
}

.progressBar {
}

.progressBar li {
    list-style-type: none;
    float: left;
    width: 13%;
    position: relative;
    text-align: center;
}

.progressBar li:before {
    content: " ";
    line-height: 30px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    background-color: white;
    position: relative;
    z-index:2;
}

.progressBar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: 1;
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li.active {
    color: dodgerblue;
}

.progressBar li.active:before {
    border-color: dodgerblue;
    background-color: dodgerblue;
    position: relative;
    z-index:2;
}

.progressBar .active:after {
    background-color: dodgerblue;
}
</style>
{% endblock %}

{% block footer %}
	<script>
		var authorCount = 0;
		var conferenceCount = 0;
		var budgetCount = 0;
		var collaborationCount = 0;
		var index = [1,2,3,4]

		function removeAuthor(id=0){
			authorCount--;
			$("#author-"+id).remove();
		}

		function removeConference(id=0){
			conferenceCount--;
			$("#conference-"+id).remove();
			showReminder(conferenceCount,'','');
		}

		function removeBudget(id=0){
			budgetCount--;
			$("#budget-"+id).remove();
			showReminder('',budgetCount,'');
		}

		function removeCollaboration(id=0){
			collaborationCount--;
			$("#collaboration-"+id).remove();
			showReminder('','',collaborationCount);
		}

		function showReminder(count1=0, count3=0, count4=0){
			if(count1 == 0){ $("#reminder"+index[0]).show(); }else{ $("#reminder"+index[0]).hide(); }
			if(count3 == 0){ $("#reminder"+index[2]).show(); }else{ $("#reminder"+index[2]).hide(); }
			if(count4 == 0){ $("#reminder"+index[3]).show(); }else{ $("#reminder"+index[3]).hide(); }
		}

		$("#add-author-btn").on("click",function(){
			authorCount++;
			$("#author-rows").append('<div class="row" id="author-'+authorCount+'"><div class="col-7"><input name="author_names[]" placeholder="Name" class="form-control" type="text"></div><div class="col-3"><select name="author_roles[]" class="form-control"> {% for author_role in author_roles %}<option value="{{ author_role.pk }}">{{ author_role.name }}</option> {% endfor %} </select></div><div class="col-2"><button class="btn btn-danger" type="button" onclick="removeAuthor('+authorCount+')">REMOVE</button></div></div>');
		});

		$("#add-conference-btn").on("click",function(){
			conferenceCount++;
			$("#conference-rows").append('<div class="row" id="conference-'+conferenceCount+'"><div class="col-2"><select name="conference_levels[]" class="form-control"> {% for conference_level in conference_levels %} <option value="{{ conference_level.pk }}">{{ conference_level.name }}</option> {% endfor %} </select></div><div class="col-3"><input type="text" placeholder="Title" name="conference_titles[]" class="form-control"></div><div class="col-2"><input type="date" id="addDate" name="conference_dates[]" class="form-control"></div><div class="col-3"><input type="text" placeholder="Venue" name="conference_venues[]" class="form-control"></div><div class="col-2"><button class="btn btn-danger" type="button" onclick="removeConference('+conferenceCount+')">REMOVE</button></div></div>');

			// automatically set input date field to current date
			var now = new Date();
			var day = ("0" + now.getDate()).slice(-2);
			var month = ("0" + (now.getMonth() + 1)).slice(-2);
			var today = now.getFullYear()+"-"+(month)+"-"+(day);
			$('#addDate').val(today);

			$("#reminder"+index[0]).hide();
		});

		$("#add-budget-btn").on("click",function(){
			budgetCount++;
			$("#budget-rows").append('<div class="row" id="budget-'+budgetCount+'"><div class="col-2"><select name="budget_types[]" class="form-control"> {% for budget_type in budget_types %} <option value="{{ budget_type.pk }}">{{ budget_type.name }}</option> {% endfor %} </select></div><div class="col-4"><input type="number" name="budget_allocations[]" value="0" class="form-control"></div><div class="col-4"><input type="text" name="funding_sources[]" placeholder="Funding Source" class="form-control"></div><div class="col-2"><button class="btn btn-danger" type="button" onclick="removeBudget('+budgetCount+')">REMOVE</button></div></div>');

			$("#reminder"+index[2]).hide();
		});

		$("#add-collaboration-btn").on("click",function(){
			collaborationCount++;
			$("#collaboration-rows").append('<div class="row" id="collaboration-'+collaborationCount+'"><div class="col-4"><input type="text" name="industries[]" class="form-control" placeholder="Other Industry"></div><div class="col-4"><input type="text" name="institutions[]" class="form-control" placeholder="Institution"></div><div class="col-2"><select name="collaboration_types[]" class="form-control"> {% for collaboration_type in collaboration_types %} <option value="{{ collaboration_type.pk }}">{{ collaboration_type.name }}</option> {% endfor %} </select></div><div class="col-2"><button class="btn btn-danger" type="button" onclick="removeCollaboration('+collaborationCount+')">REMOVE</button></div></div>');

			$("#reminder"+index[3]).hide();
		});

		$("#btn-record-submit").on("click",function(){
			$("#btn-record-submit").attr("disabled", true);
			$('#loadIndicator').html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');
    		$.ajax({
				headers: { "X-CSRFToken": '{{ csrf_token }}' },
				data: new FormData($('#form-record').get(0)),
				dataType:"json",
				cache: false,
				processData: false,
        		contentType: false,
				type: "post",
				success: function(data){
					$('#loadIndicator').hide();
					Swal.fire({
					  title: 'Record Updated!',
					  text: "The record has been successfully updated!",
					  type: 'success',
					  confirmButtonColor: '#3085d6',
					  confirmButtonText: 'Yes'
					}).then((result) => {
						window.location.replace("{% url 'records-myrecords-view' record_id=record.pk %}");
					})
				},
				error: function(data){
					alert("error");
				}
			});
		});

		$("#abstract-file").change(function () {
	        var fileName = $(this).val();
	        var file = '{{ filename }}';
	        if(fileName != "") {
	            $("#abstract-filename").html(file);
	        } 
	        else {
	            $("#abstract-filename").html('');
	        }
	    });

		$(document).ready(function(){
			if(conferenceCount == 0){ $("#reminder"+index[0]).html('<h6 style="margin-top: 30px">Note: Click Next to Skip.</h6>'); }
			if(budgetCount == 0){ $("#reminder"+index[2]).html('<h6 style="margin-top: 30px">Note: Click Next to Skip.</h6>'); }
			if(collaborationCount == 0){ $("#reminder"+index[3]).html('<h6 style="margin-top: 30px">Note: Click Next to Skip.</h6>'); }
			$("#reminder"+index[1]).html('<h6 style="margin-top: 30px">Note: Click Next to Skip.</h6>');
			$("#eReminder").html('<h6 style="margin-top: 30px">Note: Click Confirm to Skip.</h6>');
			$(".btn-next").click(function(){
				$(".nav-tabs > .active").next(".nav-item").trigger("click");
			});
			$(".btn-prev").click(function(){
				$(".nav-tabs > .active").prev(".nav-item").trigger("click");
			});

			var count=1;
			{% for author in authors %}
				$("#add-author-btn").click();
				$("#author-"+(count)+" > div > input").val("{{ author.name }}");
				$("#author-"+(count)+" > div:nth-child(2) > select > option:nth-child({{ author.pk }})").prop("selected", true);
				count++;
			{% endfor %}

			count=1;
			{% for conference in conferences %}
				$("#add-conference-btn").click();
				$("#conference-"+(count)+" > div > select > option:nth-child({{ conference.pk }})").prop("selected", true);
				$("#conference-"+(count)+" > div:nth-child(2) > input").val("{{ conference.title }}");
				$("#conference-"+(count)+" > div:nth-child(3) > input").val("{{ conference.date|date:'Y-m-d' }}");
				$("#conference-"+(count)+" > div:nth-child(4) > input").val("{{ conference.venue }}");
				count++;
			{% endfor %}

			count=1;
			{% for budget in budgets %}
				$("#add-budget-btn").click();
				$("#budget-"+(count)+" > div > select > option:nth-child({{ budget.pk }})").prop("selected", true);
				$("#budget-"+(count)+" > div:nth-child(2) > input").val("{{ budget.budget_allocation }}");
				$("#budget-"+(count)+" > div:nth-child(3) > input").val("{{ budget.funding_source }}");
				count++;
			{% endfor %}

			count=1;
			{% for collaboration in collaborations %}
				$("#add-collaboration-btn").click();
				$("#collaboration-"+(count)+" > div > input").val("{{ collaboration.industry }}");
				$("#collaboration-"+(count)+" > div:nth-child(2) > input").val("{{ collaboration.institution }}");
				$("#collaboration-"+(count)+" > div:nth-child(3) > select > option:nth-child({{ collaboration.pk }})").prop("selected", true);
				count++;
			{% endfor %}


			var file = '{{ filename }}';
	        if($("#abstract-file").val() == "") {      
                $("#abstract-filename").html(file);
	        }
	        else{
				$("#abstract-filename").html('ay');
	        }
		});


		{% for error in error_messages %}
			Swal.fire({
			  type: 'warning',
			  title: '{{ error.title }}!',
			  html: '{{ error.body }}',
			  showConfirmButton: true,
			});
		{% endfor %}
	</script>
<script type="text/javascript">

    $("#record_type3").on("click", function(){
   		$("#record-type-section-1").hide();
   		$("#record-type-section-3").show();
    });
    $("#record_type1").on("click", function(){
   		$("#record-type-section-1").show();
   		$("#record-type-section-3").hide();
    });

</script>

{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12" style="margin-top:15px; margin-bottom:30px">
				<a href="{% url 'records-index' %}">Home</a> / <a href="{% url 'records-myrecords' %}">My records</a> / <a href="{% url 'records-myrecords-view' record_id=record.pk %}">{{ record.title }}</a> / Edit
			</div>
		</div>
		<form method="post" id="form-record" enctype="multipart/form-data">

		<div class="main-header base-bg-primary"></div>
		<div class="main-content">
				{% csrf_token %}
				<div style="display:none">
					{% include 'records/add_record/navbar.html' %}
				</div>
				<div class="tab-content" id="nav-tabContent">
					<div class="tabheaher">&nbsp;</div>
	<!--	------------------------------------TITLE AND ABSTRACT---------------------------------------------------->
					<div class="tab-pane fade show active" id="nav-title-and-abstract" role="tabpanel">
						<section id="title-and-abstract">
							{% include 'records/edit_record/title_and_abstract.html' %}
						</section>
					</div>
	<!--	------------------------------------AUTHORS AND CATEGORIES---------------------------------------------------->
					<div class="tab-pane fade" id="nav-authors-and-categories" role="tabpanel">
						<section id="authors-and-categories">
							{% include 'records/edit_record/authors_and_categories.html' %}
						</section>
					</div>
	<!--	------------------------------------CONFERENCE---------------------------------------------------->
					<div class="tab-pane fade" id="nav-conference" role="tabpanel">
						<section id="conference">
							{% include 'records/edit_record/conference.html' %}
						</section>
					</div>
	<!--	------------------------------------PUBLICATION---------------------------------------------------->
					<div class="tab-pane fade" id="nav-publication" role="tabpanel">
						<section id="publication">
							{% include 'records/edit_record/publication.html' %}
						</section>
					</div>
	<!--	------------------------------------BUDGET---------------------------------------------------->
					<div class="tab-pane fade" id="nav-budget" role="tabpanel">
						<section id="budget">
							{% include 'records/edit_record/budget.html' %}
						</section>
					</div>
	<!--	------------------------------------COLLABORATION---------------------------------------------------->
					<div class="tab-pane fade" id="nav-collaboration" role="tabpanel">
						<section id="collaboration">
							{% include 'records/edit_record/collaboration.html' %}
						</section>
					</div>
	<!--	------------------------------------UPLOADS---------------------------------------------------->
					<div class="tab-pane fade" id="nav-uploads" role="tabpanel">
						<section id="uploads">
							{% include 'records/edit_record/uploads.html' %}
						</section>
					</div>
				</div>
				<!-- -------------------------------------------MODAL------------------------------------------------------------- -->
				<div class="modal fade" id="record-submit-modal" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<form method="post" id="form-change-role">
								<div class="modal-header base-bg-primary">
									<h5 class="modal-title">Submit</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div id="loadIndicator"></div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="button" id="btn-record-submit" class="btn base-btn base-bg-primary">Save</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>


{% endblock %}
