{% extends 'ipams/base.html' %}
{% load crispy_forms_tags %}
{% block head %}
<style>
	.title-checkbox{
		margin-right:8px;
	}
</style>
{% endblock %}
{% block footer %}
	<script>
//-----------------------initializing datatables---------------------------------------------
		var recordsTbl;
		var accountsTbl;
		var filters = {
			"year_from":"",
			"year_to":"",
			"ip_cb":"",
			"commercialization_cb":"",
			"community_cb":"",
			"classification":"",
			"psced_classification":"",
			"author":"",
			"department":"",
			"conference":"",
			"publication":"",
			"budget_min":"",
			"budget_max":"",
			"collaborator":"",
			"is_filtered":"false",
		};

		function initRecordsTbl(){
			{% if user.role.id > 2 %}
				if(recordsTbl){
					recordsTbl.clear().destroy();
				}
				recordsTbl = $('#tbl-records').DataTable({
					"ajax":	{
						headers: { "X-CSRFToken": '{{ csrf_token }}' },
						url: "{% url 'records-index' %}",
						data: filters, 
						dataType:"json",
						type: "post",
					},
					// When deferred rendering is enabled, rather than having DataTables create all TR and TD nodes required for the table when the data is loaded, DataTables will only create the nodes required for each individual row at the time of that row being drawn on the page (these nodes are then retained in case they are needed again so they aren't created multiple times). This can give a significant performance increase, since a lot less work is done at initialisation time.
		    		"deferRender": true,
					"scrollX": true,
					"responsive": true,
					"order": [[ 2, "desc" ], [ 1, "asc" ]],
					"pageLength": 15,
					"columnDefs": [
						{
							//hide ID column in records table and do not allow it to be searched
							"targets": [ 0 ],
							"visible": false,
							"searchable": false,
						},
						{
							//hide columns from REPRESENTATIVE to TAG 3 in records table and allow search
							"targets": [ 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19 ],
							"visible": false,
							"searchable": true,
						},
						{ "width": "13%", "targets": 21 }, // Set the third column's width to 13% with columnDefs
						{ "width": "13%", "targets": 22 }, // Set the fourth column's width to 13% with columnDefs
					],
				});
			{% else %}
				if(recordsTbl){
					recordsTbl.clear().destroy();
				}
				recordsTbl = $('#tbl-records').DataTable({
					"ajax":	{
						headers: { "X-CSRFToken": '{{ csrf_token }}' },
						url: "{% url 'records-index' %}",
						data: filters, 
						dataType:"json",
						type: "post",
					},
					// When deferred rendering is enabled, rather than having DataTables create all TR and TD nodes required for the table when the data is loaded, DataTables will only create the nodes required for each individual row at the time of that row being drawn on the page (these nodes are then retained in case they are needed again so they aren't created multiple times). This can give a significant performance increase, since a lot less work is done at initialisation time.
		    		"deferRender": true,
					"scrollX": true,
					"responsive": true,
					"order": [[ 2, "desc" ], [ 1, "asc" ]],
					"pageLength": 15,
					"columnDefs": [
						{
							//hide ID column in records table and do not allow it to be searched
							"targets": [ 0 ],
							"visible": false,
							"searchable": false,
						},
						{
							//hide columns from REPRESENTATIVE to ABSTRACT in records table and allow search
							"targets": [ 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19 ],
							"visible": false,
							"searchable": true,
						},
					],
				});
			{% endif %}
		}

		function initAccountsTbl(){
			{% if user.role.id > 2 %}
			if(accountsTbl){
				accountsTbl.clear().destroy();
			}
		    accountsTbl= $('#tbl-accounts').DataTable({
		    	"ajax":	{
		    		"headers": { "X-CSRFToken": '{{ csrf_token }}' },
		    		"url": "{% url 'accounts-get-all' %}",
		    		"type": "post",
		    	},
		    	"deferRender": true,
		    	"scrollX": true,
		    	"responsive": true,
		    	"order": [[ 1, "desc" ]],
				"select": {
        		    style: 'multi',
        		    selector: 'td:first-child'
        		},
        		"columnDefs": [
        		    {
        		        "targets": [ 1 ],
        		        "visible": false,
        		        "searchable": false
        		    },
        		    {
        		    	"targets": [0],
        		    	"width": 20,
        		    	"orderable": false,
        		    	"className": 'select-checkbox',
        		    	"targets": 0
        		    }
        		],
		    });
			{% endif %}
		}

		$("#nav-home-menu-2").on("click", function(){
			initRecordsTbl();
		});
		$("#nav-home-menu-3").on("click", function(){
			initAccountsTbl();
		});

//------------------------on filter save-----------------------------------------------------
		$("#btn-filter-save").on("click", function(){
			$("#filter-tags").html('Filters: ');
			filters = {
				"year_from":"{{year_from}}",
				"year_to":"{{year_to}}",
				"ip_cb":"",
				"commercialization_cb":"",
				"community_cb":"",
				"classification":"",
				"psced_classification":"",
				"author":"",
				"department":"",
				"conference":"",
				"publication":"",
				"budget_min":"",
				"budget_max":"",
				"collaborator":"",
				"is_filtered":"true",
			}
			if($("#year_cb").is(":checked")){
				filters['year_from'] = $("#year_from").val();
				filters['year_to']= $("#year_to").val();
				$("#filter-tags").append('<div class="badge badge-success">Year='+filters['year_from']+' - '+filters['year_to']+'</div>&nbsp;');
			}
			if($("#ip_cb").is(":checked")){
				console.log($("#ip_cb").val());
				filters['ip_cb'] = $("#intellectual_property").text();
				$("#filter-tags").append('<div class="badge badge-success">Tags='+filters['ip_cb']+'</div>&nbsp;');
			}
			if($("#commercialization_cb").is(":checked")){
				filters['commercialization_cb'] = $("#commercialization").text();
				$("#filter-tags").append('<div class="badge badge-success">Tags='+filters['commercialization_cb']+'</div>&nbsp;');
			}
			if($("#community_cb").is(":checked")){
				filters['community_cb'] = $("#community_extension").text();
				$("#filter-tags").append('<div class="badge badge-success">Tags='+filters['community_cb']+'</div>&nbsp;');
			}
			filters['classification']=$("#id_classification").val();
			if(filters['classification']!='')
				$("#filter-tags").append('<div class="badge badge-success">Classification='+$("#id_classification option:selected").html()+'</div>&nbsp;');
			filters['psced_classification']=$("#id_psced_classification").val();
			if(filters['psced_classification']!='')
				$("#filter-tags").append('<div class="badge badge-success">PSCED Classification='+$("#id_psced_classification option:selected").html()+'</div>&nbsp;');
			filters['department']=$("#department").val();
			if(filters['department']!='')
				$("#filter-tags").append('<div class="badge badge-success">Department='+filters['department']+'</div>&nbsp;');
			if($("#author_cb").is(":checked")){
				filters["author"]=$("#author").val();
				$("#filter-tags").append('<div class="badge badge-success">Author='+filters['author']+'</div>&nbsp;');
			}
			if($("#conference_cb").is(":checked")){
				filters["conference"]=$("#conference").val();
				$("#filter-tags").append('<div class="badge badge-success">Conference='+filters['conference']+'</div>&nbsp;');
			}
			if($("#publication_cb").is(":checked")){
				filters['publication']=$("#publication").val();
				$("#filter-tags").append('<div class="badge badge-success">Publication='+filters['publication']+'</div>&nbsp;');
			}
			if($("#budget_cb").is(":checked")){
				filters['budget_min']=$("#budget_min").val();
				filters['budget_max']=$("#budget_max").val();
				$("#filter-tags").append('<div class="badge badge-success">Budget='+filters['budget_min']+' - '+filters['budget_max']+'</div>&nbsp;');
			}
			if($("#collaborator_cb").is(":checked")){
				filters['collaborator']=$("#collaborator").val();
				$("#filter-tags").append('<div class="badge badge-success">Collaborator='+filters['collaborator']+'</div>&nbsp;');
			}
			filters['is_filtered']=true;
			initRecordsTbl();
		});

//------------------------importing spreadsheet----------------------------------------------
		$("#btn-import").on("click", function(){
			if($("#file-import").get(0).files.length>0){
				Swal.fire({
				  title: 'Import Spreadsheet',
				  html: 'importing... ',
				  allowOutsideClick: false,
				  onBeforeOpen: () => {
				   	Swal.showLoading()
				   	$("#form-import").submit();
				  },
				});
			}
			else{
				Swal.fire({
				  type: 'warning',
				  title: 'No File Chosen',
				  showConfirmButton: true,
				})
			}
		});

//--------------------------adjust datatables header--------------------------------
	$('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
	   $($.fn.dataTable.tables(true)).DataTable()
	      .columns.adjust();
	});


//---------------------------account action button-----------------------------------
	function acceptRole(id, roleId){
		Swal.fire({
		  title: 'Do you accept this role request?',
		  showDenyButton: true,
		  showCancelButton: true,
		  confirmButtonText: `Accept`,
		  denyButtonText: `Don't accept`,
		}).then((result) => {
		  if (result.value) {
		    Swal.fire('Saved!', '', 'success')
			var account="&role-change=true&accounts[]="+id;
			var role="&role-radio="+roleId;
			$.ajax({
        	   	headers: { "X-CSRFToken": '{{ csrf_token }}' },
        	   	url: "{% url 'records-index' %}",
        	   	type: "post",
				data: $("#form-change-role").serialize()+account+role,
				success: function(data){
					$("#accounts-role-modal").modal("hide");
					accountsTbl.ajax.reload();
					Swal.fire(
					 		  'Role Changed!',
					 		  'The selected accounts role have been changed',
					 		  'success'
					 		)
				},
				error: function(data){
					alert("error");
				}
        	});
		  }
		})

	}
	$("#btn-account-go").on("click", function(){
		var accountsAction = $("#select-account-action").val();
		var accounts = [];
		var rows = accountsTbl.rows({"selected":true});
           $.each(rows.data(), function () {
		    var row = this;
		    accounts.push(row[1]);
		})
		if(accounts.length>0){
			if(accountsAction == '1'){
				$("#accounts-role-modal").modal("show");
				serializedAccounts = "";
				for(var i = 0; i < accounts.length; i++){
					serializedAccounts+="&accounts[]="+accounts[i];
				}
				$("#btn-role-apply").on("click", function(){
					$("#btn-role-apply").attr("disabled", true);
					$.ajax({
            			headers: { "X-CSRFToken": '{{ csrf_token }}' },
            			url: "{% url 'records-index' %}",
            			type: "post",
						data: $("#form-change-role").serialize()+serializedAccounts,
						success: function(data){
							$("#accounts-role-modal").modal("hide");
							accountsTbl.ajax.reload();
							Swal.fire(
				    		  'Roles Changed!',
				    		  'The selected accounts roles have been changed',
				    		  'success'
				    		).then((result) => {
								location.reload()
							});
						},
						error: function(data){
							alert("error");
						}
            		});
				});
			}
            else if(accountsAction == '2'){
				Swal.fire({
				  title: 'Are you sure you want to delete the selected accounts?',
				  text: "You won't be able to revert this!",
				  type: 'warning',
				  showCancelButton: true,
				  confirmButtonColor: '#3085d6',
				  cancelButtonColor: '#d33',
				  confirmButtonText: 'Yes'
				}).then((result) => {
				  if (result.value) {
            		$.ajax({
            			headers: { "X-CSRFToken": '{{ csrf_token }}' },
            			url: "{% url 'records-index' %}",
            			type: "post",
						data: { "accounts": accounts, "remove-accounts": true },
						success: function(data){
							accountsTbl.ajax.reload();
							if(data['success']){
								Swal.fire(
				    			  'Deleted!',
				    			  'The selected accounts have been deleted',
				    			  'success'
				    			)
				    		}
				    		else{
				    			Swal.fire(
				    			  'Error!',
				    			  'You are trying to delete a superuser account, This cannot be done...',
				    			  'error'
				    			)
				    		}
						},
						error: function(data){
							alert("error");
						}
            		});
				  }
				})
			}
		}
		else{
			Swal.fire({
			  type: 'warning',
			  title: 'No rows selected!',
			  html: 'You must first select an account',
			  showConfirmButton: true,
			})
		}
	});

	$("#accounts-select-all").on( "click", function(e) {
		accountsTbl.rows({ page: 'current' }).select();
	});
	$("#accounts-deselect-all").on( "click", function(e) {
		accountsTbl.rows({ page: 'current' }).deselect();
	});

	</script>
{% endblock %}

{% block content %}
	<div class="container wrapper">
		<div style="padding-top:40px">
		{% include 'records/home_navbar.html' %}

		<div class="tab-content main-container" id="nav-tabContent">
			<div class="tab-pane fade show active " id="nav-home-landing" role="tabpanel">
				<div class="main-header base-bg-primary"></div>
				<section id="home-landing" class="main-content">
					<div class="row">
						<div class="col-12">
							{{ landing_page.value|safe }}
						</div>
					</div>
					<div class="row">
					</div>
				</section>
			</div>
			<div class="tab-pane fade" id="nav-home-records" role="tabpanel">
				<div class="main-header base-bg-primary"></div>
				<section id="home-records" class="main-content">
					<div class="row">
						<div class="col-6">
							<h1>RECORDS</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 d-flex">
							<div>
								{% if user.is_authenticated and user.role.id > 1 %}
								<a href="{% url 'records-add' %}" class="btn btn-primary" style="margin-bottom:10px"><i class="fa fa-plus fa-md"></i> ADD</a>
								{% endif %}
								<button type="button" class="btn btn-success" data-toggle="modal" data-target="#filter-modal" style="margin-bottom:10px"><i class="fa fa-filter fa-md"></i> FILTER</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" id="filter-tags">
							{% if year_from != '' and year_to != '' %}
								Filters: <div class="badge badge-success">Year={{ year_from }} - {{ year_to }}</div>
							{% else %}
								Filters: 
							{% endif %}
						</div>
					</div>

					<div class="row" style="margin-top:20px">
						<div class="col-12">
							<table id="tbl-records" class="table table-striped table-bordered table-condensed" style="width:100%">
						        <thead>
						            <tr>
						            	<!-- hidden column -->
										<th>ID</th>
										<th>REPRESENTATIVE</th>
						                <th>CONFERENCE LEVEL</th>
						                <th>CONFERENCE TITLE</th>
						                <th>CONFERENCE VENUE</th>
						                <th>PUBLICATION</th>
						                <th>ISBN</th>
						                <th>ISSN</th>
						                <th>ISI</th>
						                <th>PUBLICATION LEVEL</th>
						                <th>BUDGET TYPE</th>
						                <th>BUDGET ALLOCATION</th>
						                <th>FUNDING SOURCE</th>
						                <th>COLLABORATION TYPE</th>
						                <th>INSTITUTION</th>
						                <th>INDUSTRY NAME</th>
						                <th>TAG 1</th>
						                <th>TAG 2</th>
						                <th>TAG 3</th>
						                <th>ABSTRACT</th>
										<!-- visible columns -->
						                <th>RESEARCH TITLE</th>
						                <th>YEAR STARTED</th>
						                {% if user.role.id > 2 %}
						                	<th>YEAR COMPLETED</th>
						                {% endif %}
						                <th>CLASS</th>
						                <th>PSCED</th>
						            </tr>
						        </thead>
						        <tbody>
						        </tbody>
						    </table>
						</div>
					</div>
				</section>
			</div>

			<div class="tab-pane fade" id="nav-home-accounts" role="tabpanel">
				<div class="main-header base-bg-primary"></div>
				<section id="home-accounts" class="main-content">
					<div class="row">
						<div class="col-6">
							<h1>ACCOUNTS</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-auto d-flex align-items-center">
							<a id="accounts-select-all" href="#" style="margin-right:10px">SELECT ALL</a>
							<a id="accounts-deselect-all" href="#" style="border-left: 1px solid #ccc; padding-left:10px">NONE</a>
						</div>
						<div class="col-lg-3">
							<select class="form-control" id="select-account-action">
								<option value="0">----------</option>
								<option value="1">Change Role</option>
								<option value="2">Remove</option>
							</select>
						</div>
						<div class="col-sm-12 col-lg-auto d-flex justify-content-end">
							<button class="btn btn-primary" type="button" id="btn-account-go">Go</button>
						</div>
					</div>
					<div class="row" style="margin-top:20px">
						<div class="col-12">
							<table id="tbl-accounts" class="table table-striped table-bordered table-condensed" style="width:100%">
								<thead>
									<tr>
										<th></th>
										<th>ID</th>
										<th>USERNAME</th>
										<th>NAME(Last, First, Middle)</th>
										<th>ROLE</th>
										<th>REQUESTS</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</section>
			</div>
			<div class="tab-pane fade" id="nav-home-upload" role="tabpanel">
				<div class="main-header base-bg-primary"></div>
				<section id="home-upload" class="main-content">
					<div class="row">
						<div class="col-lg-8">
							<h1>How to migrate data from spreadsheet?</h1>
							<ol>
								<li>Follow the data entry format which can be viewed <a href="{% url 'records-download-format' %}">HERE</a>.</li>
								<li>When adding a new entry to a section, simply duplicate the record row and replace the existing section with the new entry.</li>
								<li>The migration stops when they read a merged cell that contains END OF RECORDS.</li>
								<li>After the format is thoroughly followed, Press GENERATE to add the records.</li>
							</ol>
							<label>Logs</label>
							<textarea rows="5" class="form-control">{{ logs }}</textarea>
						</div>
						<div class="col-lg-4">
							<form id="form-import" action="{% url 'records-upload' %}" method="POST" enctype="multipart/form-data">
								{% csrf_token %}
								<div class="row">
									<div class="col-12">
										<input id="file-import" type="file" name="file" class="form-control">
									</div>
								</div>
								<div class="row">
									<div class="col-12 d-flex justify-content-end" style="margin-top:15px">
										<button id="btn-import" type="button" class="btn btn-success">GENERATE</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
		</div>
	</div>

	<!-- --------------------------------Modal--------------------------------------------- -->
	<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
			<form method="post" id="form-filter">
				{% csrf_token %}
	    	  <div class="modal-header base-bg-primary">
	    	    <h5 class="modal-title">Filter</h5>
	    	    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	    	      <span aria-hidden="true">&times;</span>
	    	    </button>
	    	  </div>
	    	  <div class="modal-body">
	    	    <div class="container">
					<div class="row">
						<div class="col-lg-5">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="year_cb" name="year_cb">
							  <label class="form-check-label" for="year_cb">
							    Year
							  </label>
							</div>
						</div>
						<div class="col-lg-3">
							<input class="form-control" placeholder="from" id="year_from" name="year_from">
						</div>
						<div class="col-lg-3">
							<input class="form-control" placeholder="to" id="year_to" name="year_to">
						</div>
					</div>
					<div class="row" style="margin-bottom: 10px; margin-top: 10px;">
						<div class="col-sm">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="ip_cb" name="ip_cb">
							  <label class="form-check-label" for="ip_cb">
								<span id="intellectual_property"> Intellectual Property </span>
							  </label>
							</div>
						</div>
						<div class="col-auto">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="commercialization_cb" name="commercialization_cb">
							  <label class="form-check-label" for="commercialization_cb">
							    <span id="commercialization"> Commercialization </span> 
							  </label>
							</div>
						</div>
						<div class="col-sm">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="community_cb" name="community_cb">
							  <label class="form-check-label" for="community_cb">
							    <span id="community_extension"> Community Extension </span>
							  </label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							{{ record_form.classification|as_crispy_field }}
						</div>
					</div>
				 	<div class="row">
						<div class="col-lg-12">
							{{ record_form.psced_classification|as_crispy_field }}
						</div>
					</div>
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-lg-12">
							<label class="form-check-label" for="department_cb"> Department </label>
							<select class="form-control" id="department" name="department">
								<option value="">------</option>
							{% for department in departments %}
								<option value="{{ department.name }}">{{ department.name }}</option>
							{% endfor %}
						    </select>
						</div>
					</div>
					<div class="row" style="margin-top:15px;">
						<div class="col-lg-5">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="author_cb">
							  <label class="form-check-label" for="author_cb">
							    Author
							  </label>
							</div>
						</div>
						<div class="col-lg-7">
							<input class="form-control" id="author" name="author">
						</div>
					</div>
			  		<div class="row" style="margin-top:10px;">
						<div class="col-lg-5">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="conference_cb">
							  <label class="form-check-label" for="conference_cb">
							    Conference Title
							  </label>
							</div>
						</div>
						<div class="col-lg-7">
							<input class="form-control" id="conference" name="conference">
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-lg-5">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" name="publication_cb" id="publication_cb">
							  <label class="form-check-label" for="publication_cb">
							    Publication Name
							  </label>
							</div>
						</div>
						<div class="col-lg-7">
							<input class="form-control" id="publication" name="publication">
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-lg-5">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="budget_cb">
							  <label class="form-check-label" for="budget_cb">
							    Total Budget
							  </label>
							</div>
						</div>
						<div class="col-lg-3">
							<input class="form-control" placeholder="min" id="budget_min" name="budget_min">
						</div>
						<div class="col-lg-3">
							<input class="form-control" placeholder="max" id="budget_max" name="budget_max">
						</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-lg-5">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" id="collaborator_cb">
							  <label class="form-check-label" for="collaborator_cb">
							    Collaborator
							  </label>
							</div>
						</div>
						<div class="col-lg-7">
							<input class="form-control" id="collaborator" name="collaborator">
						</div>
					</div>
				</div>
	    	  </div>
	    	  <div class="modal-footer">
	    	    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	    	    <button type="button" id="btn-filter-save" data-dismiss="modal" class="btn btn-primary">Apply</button>
	    	  </div>
				</form>
	    	</div>
	  </div>
	</div>

	<div class="modal fade" id="accounts-role-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form method="post" id="form-change-role">
					{% csrf_token %}
					<div class="modal-header base-bg-primary">
						<h5 class="modal-title">Change Role</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						{% for user_role in user_roles %}
							{% if user_role.pk < user.role.pk or user.role.pk > 3 %}
							<div class="form-check">
								<input class="form-check-input" type="radio" name="role-radio" id="{{ user_role.name }}-radio" value="{{ user_role.pk }}" {% if user_role.pk == 1 %} checked {% endif %}>
								<label class="form-check-label" for="{{ user_role }}-radio">
									{{ user_role.name }}
								</label>
							</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class="modal-footer">
					  	<input type="hidden" value="true" name="role-change"/>
	    		    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	    		    	<button type="button" id="btn-role-apply" class="btn btn-primary">Apply</button>
	    		  	</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
