{% extends 'ipams/base.html' %}
{% load crispy_forms_tags %}

{% block footer %}
<script>
	documentsTbl = $('#tbl-documents').DataTable({
		"ajax":	{
			headers: { "X-CSRFToken": '{{ csrf_token }}' },
			dataType:"json",
			type: "post",
		},
        // When deferred rendering is enabled, rather than having DataTables create all TR and TD nodes required for the table when the data is loaded, DataTables will only create the nodes required for each individual row at the time of that row being drawn on the page (these nodes are then retained in case they are needed again so they aren't created multiple times). This can give a significant performance increase, since a lot less work is done at initialisation time.
        "deferRender": true,
		"scrollX": true,
		"responsive": true,
	});

	$("#btn-status-apply").on("click", function(){
        $.ajax({
            headers: { "X-CSRFToken": '{{ csrf_token }}' },
            dataType:"json",
            type:"post",
            data:{
                "status": $("input[name='status-radio']:checked").val(),
                "record_upload_id": $("#record-upload-id").val(),
                "status_change": 'true',
            },
            success: function(data){
                $("#status-change-modal").modal("hide");
                documentsTbl.ajax.reload();
            },
            error: function(data){
                alert("error");
            },
        });
	});

	function onStatusChangeClick(id){
	    $("#record-upload-id").val(id);
	    $("#status-change-modal").modal("show");
	}
</script>
{% endblock %}

{% block content %}

<div class="container-fluid" style="background-color:#dbdbdb;">
    <section>
        <div class="row">
            <div class="col-sm-6">
                <h2 style="margin-top:20px; margin-bottom:20px;">Dashboard</h2>
            </div>
            <div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="{% url 'records-dashboard' %}" class="btn btn-warning"><i class="fa fa-arrow-left"></i></a>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-sm-12 col-lg-12" style="background-color:white; padding:20px 10px 20px 10px;">
                <table id="tbl-documents" class="table table-striped table-bordered table-condensed" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Records</th>
                            <th>Documents</th>
                            <th>Status</th>
                            <th>Files</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>



<div class="modal fade" id="status-change-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" id="form-change-modal">
                {% csrf_token %}
                <div class="modal-header base-bg-primary">
                    <h5 class="modal-title">Change Status</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for status in record_upload_status %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status-radio" id="id-{{ status.name }}" value="{{ status.pk }}">
                        <label class="form-check-label" for="id-{{ status.name }}">
                            {{ status.name }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="record-upload-id" value="0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="btn-status-apply" class="btn btn-primary">Apply</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
