
<div class="row" style="margin-bottom:15px;">
	<div class="col-12">
		<div class="wrapper-progressBar">
			<ul class="progressBar" style="padding-left:0px;">
				<li class="active">Title and Abstract</li>
				<li class="active">Authors and Categories</li>
				<li class="active">Conference</li>
				<li class="active">Publication</li>
				<li class="active">Budget</li>
				<li class="active">Collaboration</li>
				<li>Uploads</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<h3 style="margin-top: 30px">COLLABORATION</h3>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<button class="btn btn-primary" type="button" id="add-collaboration-btn">ADD COLLABORATION</button>
	</div>
</div>
<div id="collaboration-rows">

</div>
<div id="reminder4">
	
</div>
<div class="row" style="margin-top:10px;">
	<div class="col-12 d-flex justify-content-end">
		<button class="btn btn-prev base-btn base-bg-primary" type="button">Prev</button>
		<button class="btn btn-next base-btn base-bg-primary" type="button" style="margin-left:10px;">Next</button>
	</div>
</div>
